body {
  background-color: lightcyan;
}

.text2 {
  color: brown;
  text-align: center;
}

.logo1 {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo2{
  width: 400px;
  height: auto;
}

.text1 {
  text-align: center;
  margin-bottom: 2%;
}

input[type='submit'], button, [aria-label]{
    cursor: pointer;
  }

.getbutton {
  text-align: center;
  margin-bottom: 3%;
}

.getbutton2 {
  text-align: right;
  margin-bottom: 1%;
}

.anotherhtml {
  text-align: center;
}

.participants {
  text-align: center;
}

.deletebutton {
  text-align: center;
  margin-bottom: 1%;
}

.postbutton {
  text-align: center;
}

.welcome1 {
  text-align: center;
}

.noteplaceholder {
  width: 30%;
  height: 100%;
}

.notesreminder {
  position: relative; left: 150px; bottom: 17px;
}

.anotherhtml2 {
  text-align: center;
}

.dodonot {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: auto;
}

.createbtn {
  text-align: center;
  margin-bottom: 15%;
}

.gomynotes {
  text-align: center;
}

.crudform {
  text-align: center;
}

.something {
  text-align: center;
}

.titlemodel{
  margin-bottom: 1%;
  margin-left: 1%;
}

.descriptionmodel {
  margin-left: 1%;
}


.container1 {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.container1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.container1 input[type="password"],
		.container1 input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
      box-sizing:border-box;
    }

.container1 input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.container2 {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.container2 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.container2 input[type="password"],
		.container2 input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
      box-sizing:border-box;
    }

.container2 input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}


/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#submitUpdate , #myBtn {
  display: inline-block;
}