body {
  background-color: lightcyan;
}

.welcome {
  text-align: center;
}
.welcome-logo {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.noteslogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}

.thinklogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secondtext {
  text-align: center;
  margin-top: 8%;
}
