html
  link(rel='stylesheet', href='style.css')
  
  head
    title= title
  body
    a(href="/logout") Log out
    div(class="model")
      div(class="something")
        h2 Do not forget about sth! Create a note

        form(name="addNote" action="/create" method="POST" class="crudform")
          div 
            label Title:
            input(type="text" name="title" placeholder="Title" required class="titlemodel" )

          div
            label Description:
            textarea(type="text" name="body" placeholder="Description" required class="descriptionmodel")


          input(type="submit" value="Create" class="submit")


    each row in rows
      p='Title: ' + row.Title + '.' + ' Notes: ' + row.Description
        form(action="/note/delete/"+row.NoteID,  method="POST", name="deletenote")
          i(class="fas fa-trash")
          input(type="submit" class="submitUpdate" value="Delete")
        button(class="myBtn") Edit
          div(class="myModal" class="modal1")
            div(class="modal-content")
              span(class="close") &times;
              form(name="updateNote" action="/note/update/pug/"+row.NoteID method="POST" class="crudform")
                input(type="hidden" class="noteid" name="NoteID" value=row.NoteID)
                label New Title:
                input(type="text" name="title" value=row.Title class="titlemodel")
                label New Description:
                textarea(class="notebody" name="body" class="descriptionmodel")=row.Description

                div
                  i(id="updateicon") 
                  input(type="submit" class="submitUpdate" value="Update")   
                    

      script 
        include ../modal.js